@font-face {
    font-family: custom;
    src: url(Kdam_Thmor_Pro/KdamThmorPro-Regular.ttf)
}

body {
    background-color: rgb(146, 146, 146);
    display: flex;
    justify-content: center;
    font-family: custom, sans-serif;
}

.menu-container{
    width: 400px;
    height: 500px;
    background-color: rgb(214, 214, 214);
    border: 5px grey solid;
    border-radius: 10px;
    box-shadow: 2px 2px 5px rgb(77, 77, 77);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
   color:rgb(77, 77, 77); 
}

.start-button{
    outline: none;
    border-radius: 5px;
    border: 0px;
    width: 60%;
    height: 50px;
    background-color: rgb(77, 77, 77);
    color:rgb(214, 214, 214);
    font-weight: bold;
    font-size: 200%;
    margin-bottom: 50px;
}

.start-button:hover{
    transform: scale(1.1, 1.1)
}

.inputs{
    margin-bottom: 30px;
    font-size: 25px;
    color:rgb(77, 77, 77);
    max-width: 70%;
}